.profile-pic {
  width: 12.2vw;
  height: 12.2vw;
}

.userpage-buttons {
  float: right;
}

.user-profile-header {
  border: 0;
  padding-left: 0;
}

.userpage {
  border: 2px solid #0b4442;
  box-shadow: 5px 6px 0px #0b4442
}

.settings-button {
  color: #FFFFFF;
  background-color: #0D4D4B;
}
